<header class="admin_header">
  <div class="header_message">
  お帰りなさい社員No.1 あかさたなさん
  </div>
  <div class="header_list">
    <ul>
      <li><%=link_to('home','/admin')%></li>
      <li><%=link_to('今日のメンバー','/admin/today')%></li>
      <li><%=link_to('シフト申請一覧','/admin/application')%></li>
      <li><%=link_to('その他申請一覧','/admin/other_application')%></li>
      <li><%=link_to('従業員一覧','/admin/employeelist')%></li>
      <li><%=link_to('勤怠管理','/admin/management')%></li>
      <li><%=link_to('シフト管理','/admin/schedule')%></li>
    </ul>
  </div>
</header>
<%= @member.id %>のひとを編集します
<div class="employeelist_edit_container">
    <div class="employeelist_edit_content">
        <%=form_tag("/admin/#{@member.id}/employeelist_update") do%>
            <div> 名前<input type="text" placeholder=<%= @member.name %> name="name"> </div>
            <div> メールアドレス<input type="text" placeholder=<%= @member.mail %> name="mail"> </div>
            <div>電話番号<input type="text" placeholder=<%= @member.phone %> name="phone"></div>
            <input type="submit" class="submit">
        <%end%>
    </div>
</div>