<header class="admin_header">
  <div class="header_message">
  お帰りなさい社員No.<%=@current_member.id%> <%=@current_member.name%>さん
  </div>
  <div class="header_list">
    <ul>
      <li><%=link_to('home','/admin')%></li>
      <li><%=link_to('今日のメンバー','/admin/today')%></li>
      <li><%=link_to('従業員一覧','/admin/employeelist')%></li>
      <li><%=link_to('勤怠管理','/admin/management')%></li>
      <li><%=link_to('勤務カレンダー','/admin/schedule')%></li>
     <!--
      <li><%=link_to('シフト申請一覧','/admin/application')%></li> 
      <li><%=link_to('その他申請一覧','/admin/other_application')%></li>%>
      -->
    </ul>
  </div>
</header>
<main>
<div class="member_add"><%=link_to('メンバーを追加します','/admin/new_member')%></div>
<div class="member_add_flash">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>
<div class="member_list">
  <% @members.sort_by(&:id).each do |member| %>
    <div class="member_content">
      <%if member.authority%>
      <%=member.authority ? "👑" : ""%>
      <%end%>
      <div class="info">
        <div>社員番号： <%= member.id %></div>
        <div>名前： <%= member.name %></div>
        <div>雇用形態： <%= member.member_type %></div>
        <div>メールアドレス： <%= member.mail%></div>
        <div class='phone'>電話番号： <%= member.phone%></div>
        <div>パスワード: <%= member.password%></div>
      </div>
      <div class="button">
        <%=link_to("編集する","/admin/#{member.id}/employeelist_edit")%>
        <%=button_to("削除する","/admin/#{member.id}/employeelist_delete",{method:"post",data: { turbo_confirm: "本当に削除しますか？" } }) %>
      </div>
    </div>
  <% end %>
</div>
</main>