<header>
  <div class="header_message">
  お帰りなさい社員No.1 あかさたなさん
  </div>
  <div class="header_list">
    <ul>
      <li><%=link_to('home','/admin')%></li>
      <li><%=link_to('今日のメンバー','/admin/today')%></li>
      <li><%=link_to('シフト申請一覧','/admin/application')%></li>
      <li><%=link_to('その他申請一覧','/admin/other_application')%></li>
      <li><%=link_to('従業員一覧','/admin/employeelist')%></li>
      <li><%=link_to('勤怠管理','/admin/management')%></li>
      <li><%=link_to('シフト管理','/admin/schedule')%></li>
    </ul>
  </div>
</header>
<main>
  <div class="admin_content">
    <div class="admin_today">
      <%=Time.now.strftime('%Y-%m-%d %H:%M')%>
    </div>
    <div class="message">
    今日も一日頑張りましょう
    </div>
  </div>
</main>
<footer>
  <div class="notice">
    <ul>
      <li>お知らせ１</li>
      <li>お知らせ２</li>
    </ul>
  </div>
</footer>
