<header>
  <div class="header_message">
  お帰りなさい社員No.1 あかさたなさん
  </div>
  <div class="header_list">
    <ul>
      <li><%=link_to('home','/admin')%></li>
      <li><%=link_to('今日のメンバー','/admin/today')%></li>
      <li><%=link_to('申請一覧','/admin/application')%></li>
      <li><%=link_to('従業員一覧','/admin/employeelist')%></li>
      <li><%=link_to('勤怠管理','/admin/management')%></li>
      <li><%=link_to('シフト管理','/admin/schedule')%></li>
    </ul>
  </div>
</header>
ここで新しいメンバーを追加します
<%= form_tag("/admin/member_create") do%>
    name<input type="text" name="name">
    phone<input type="text" name="phone">
    mail<input type="text" name="mail">
    <input type="submit">
<% end %>