<header class="admin_header">
  <div class="header_message">
  お帰りなさい社員No.1 あかさたなさん
  </div>
  <div class="header_list">
    <ul>
      <li><%=link_to('home','/admin')%></li>
      <li><%=link_to('今日のメンバー','/admin/today')%></li>
      <li><%=link_to('従業員一覧','/admin/employeelist')%></li>
      <li><%=link_to('勤怠管理','/admin/management')%></li>
      <li><%=link_to('勤務カレンダー','/admin/schedule')%></li>
      <li><%=link_to('シフト申請一覧','/admin/application')%></li>
      <li><%=link_to('その他申請一覧','/admin/other_application')%></li>
    </ul>
  </div>
</header>

<main class="schedule_page">
  <div class="page_name">~シフト登録管理ページ~</div>
  <div class="admin_schedule_container">   
      <% @members.each do |member|%>
        <div class="admin_schedule_content">
        社員番号<%=member.id%>
        <%=link_to(member.name ,"/admin/schedule/#{member.id}")%>
        </div>
      <%end%>
  </div>
</main>

