<header class="admin_header">
  <div class="header_message">
  お帰りなさい社員No.1 あかさたなさん
  </div>
  <div class="header_list">
    <ul>
      <li><%=link_to('home','/admin')%></li>
      <li><%=link_to('今日のメンバー','/admin/today')%></li>
      <li><%=link_to('従業員一覧','/admin/employeelist')%></li>
      <li><%=link_to('勤怠管理','/admin/management')%></li>
      <li><%=link_to('勤務カレンダー','/admin/schedule')%></li>
      <li><%=link_to('シフト申請一覧','/admin/application')%></li>
      <li><%=link_to('その他申請一覧','/admin/other_application')%></li>
    </ul>
  </div>
</header>


<main>
     <div class="schedule_new_name">『<%=@member.name%>』さんの勤務カレンダーです</div>  
     <div class="schedule_new_content">
        <%=Time.now.strftime('%Y年%m月')%>
        <div class="calendar_content">
          <%= month_calendar do |date| %>
            <%= date.strftime('%d') %>
            <br>
            <% attendance = Attendance.find_by(work_date: date,member_id:@member.id) %>
            <% if attendance %>
              出勤 <%= attendance&.start_time&.strftime('%H:%M')%><br>
              退勤 <%= attendance&.end_time&.strftime('%H:%M')%><br>
            <% end %>
          <% end %>
        </div>
      </div>
</main>