<header>
お帰りなさい社員No.<%= @id %> <%= @member.name %>さん
 
</header>
 <ul class="member_header">
    <li> <%=link_to("勤務カレンダー","/member/#{@member.id}/calender")%> </li>
    <li> <%=link_to("各種申請","/member/#{@member.id}/application")%> </li>
    <li> <%=link_to("シフト管理","/member/#{@member.id}/attendance_management")%> </li>
    <li><%=link_to("プロフィール編集","/member/#{@member.id}/profile_edit")%></li>
  </ul>
これが各種申請ページです