<header>
お帰りなさい社員No.<%= @id %> <%= @member.name %>さん
 
</header>
 <ul>
    <li> <%=link_to("勤務カレンダー","/member/#{@member.id}/calender")%> </li>
    <li> <%=link_to("各種申請","/member/#{@member.id}/application")%> </li>
    <li> <%=link_to("シフト管理","/member/#{@member.id}/attendance_management")%> </li>
    <li><%=link_to("プロフィール編集","/member/#{@member.id}/profile_edit")%></li>
  </ul>
<main>
  <div class="member_today">
    <%= Time.now %>
  </div>
  <div class="manage_button">
    <div class="start_button">出勤</div>
    <div class="rest_start_button">休入</div>
    <div class="rest_end_button">休戻</div>
    <div class="end_button">退勤</div>
  </div>
</main>

