<header>
お帰りなさい社員No.<%= @id %> <%= @member.name %>さん
 
</header>
 <ul>
    <li> <%=link_to("勤務カレンダー","/member/#{@member.id}/calender")%> </li>
    <li> <%=link_to("シフト管理","/member/#{@member.id}/attendance_management")%> </li>
    <li> <%=link_to("各種申請","/member/#{@member.id}/application")%> </li>
    <li><%=link_to("プロフィール編集","/member/#{@member.id}/profile_edit")%></li>
  </ul>
<main>
  <div class="member_today">
    <%= Time.now %>
  </div>
  <div class="manage_button">
    <%= button_to '出勤', "/member/#{@member.id}/start_time", method: :post %>
    <%= button_to '休入', "/member/#{@member.id}/rest_start_time", method: :post %>
    <%= button_to '休戻', "/member/#{@member.id}/rest_end_time", method: :post %>
    <%= button_to '退勤', "/member/#{@member.id}/end_time", method: :post %>  
  </div>
 
 <%@attendances.each do |attendance|%>
   出勤時間<%=attendance.start_time%>
   休入時間<%=attendance.rest_start_time%>
   休戻時間<%=attendance.rest_end_time%>
   退勤時間<%=attendance.end_time%>
 <%end%>

</main>

